/vendor/
/node_modules/

.env
.env.local
.env.production

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log

bootstrap/cache/*

.phpunit.result.cache
.DS_Store

/backup/*
/infrastructure/backup/*

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Frontend builds
dist/
build/
public/build/